# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local

# dev data
data

# Backup files # 
*.bak 

# Backup of text files
*~

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
